{% extends "base.html" %}
<link rel="stylesheet" href="/static/style.css">
{% block content %}

        <h1 id="main_header"> Louise's Book List!</h1>
        <form action="/books" method="post">
            <label for="title"> Title </label>
            <input type="text" name="title" id="title">

            <label for="author"> Author </label>
            <input type="text" name="author" id="author">

            <label for="genre"> Genre </label>
            <input type="text" name="genre" id="genre">

            <label for="checked_out"> Checked Out? </label>
            <input type="text" name="checked_out" id="checked_out">

            <label for="return_date"> Return Date </label>
            <input type="date" name="date" id="date">

            <input type="submit" value="Add Book">

        </form>
        <div class="book-container">
        {% for book in books %}
        <div class="event">
            <h3>{{ book.title }} :</h3>
            <h4>Author: {{ book.author }}, </h4>
            <h4>Genre: {{ book.genre }}</h4>
            <h4>Return Date: {{ book.date }}</h4>
            <h4>Checked Out: {% if book.checked_out %}
                <span> &#10004; </span>
                {% endif %} </h4>
            <a href="/books/{{books.index(book)}}"> Show Book </a>

            <form action="/book/delete/{{ book.title }}" method="POST">
                <input type="submit" value="Delete">
              </form>
        
        </div>
        {% endfor %}
        </div>
    
{% endblock %}



